// Black
// -------------------------

$blackBistre:       #3d2b1f !default;
$blackBean:         #3d0c02 !default;
$blackOlive:        #3b3c36 !default;
$blackCafeNoir:     #4b3621 !default;
$blackCharcoal:     #36454f !default;
$blackDarkPurple:   #301934 !default;
$blackEbony:        #555d50 !default;
$blackEerie:        #1b1b1b !default;
$blackEigengrau:    #0e0e17 !default;
$blackJet:          #343434 !default;
$blackLicorice:     #1a1110 !default;
$blackMidnightBlue: #191970 !default;
$blackOnyx:         #353839 !default;
$blackOuterSpace:   #414a4c !default;
$blackOxfordBlue:   #002147 !default;
$blackRaisin:       #242124 !default;
$blackRussianViolet:#32174d !default;
$blackSmoky:        #100c08 !default;
