// Browns 21
// -------------------------

// Defaults

$brown:             #630 !default;
$brownDark:         #472400 !default;
$brownDarker:       #331a00 !default;
$brownLight:        #754719 !default;
$brownLighter:      #855c33 !default;
$brownDull:         #664728 !default;
$brownDuller:       #5e4c3a !default;
$brownBright:       #930 !default;
$brownBrighter:     #a34719 !default;

// Variations

$brown2:            #964b00 !default;
$brownAuburn:       #a52a2a !default;
$brownAlmond:       #efdecd !default;
$brownBeaver:       #9f8170 !default;
$brownBistre:       #3d2b1f !default;
$brownBole:         #79443b !default;
$brownBronze:       #cd7f32 !default;
$brownBuff:         #e0ab76 !default;
$brownBurgundy:     #800020 !default;
$brownBurnt:        #8a3324 !default; // deprecated
$brownBurntSienna:  #e97451 !default;
$brownBurntUmber:   #8a3324 !default;
$brownCamel:        #c19a6b !default;
$brownCaramel2:     #cc7f3b !default;
$brownChamoisee:    #a0785a !default;
$brownChestnut:     #954535 !default;
$brownChocolate:    #7b3f00 !default;
$brownCitron:       #ddd06a !default;
$brownCocoa2:       #d2691e !default;
$brownCoffee:       #6f4e37 !default;
$brownCopper:       #b87333 !default;
$brownCordovan:     #893f45 !default;
$brownCoyote:       #81613e !default;
$brownDesertSand:   #edc9af !default;
$brownDrabDark:     #4a412a !default;
$brownDrabField:    #6c541e !default;
$brownEarthYellow:  #e1a95f !default;
$brownEcru:         #c2b280 !default;
$brownFallow:       #c19a6b !default;
$brownFawn:         #e5aa70 !default;
$brownFulvous:      #e48400 !default;
$brownGolden:       #996515 !default;
$brownGoldenrod:    #daa520 !default;
$brownGoldHarvest:  #da9100 !default;
$brownGoldSatinSheen:#cba135 !default;
$brownKhaki:        #c3b091 !default;
$brownLion:         #c19a6b !default;
$brownLiver:        #674c47 !default;
$brownMahogany:     #c04000 !default;
$brownMaroon:       #800000 !default;
$brownOchre:        #c72 !default;
$brownOlive:        #808000 !default;
$brownRawUmber:     #926644 !default;
$brownRedwood:      #a45a52 !default;
$brownRufous:       #a81c07 !default;
$brownRusset:       #e37d6e !default;
$brownRust:         #b7410e !default;
$brownSand:         #c2b280 !default;
$brownSandy:        #f4a460 !default;
$brownSeal:         #59260b !default;
$brownSepia:        #704214 !default;
$brownSienna:       #882d17 !default;
$brownSinopia:      #cb410b !default;
$brownSugar:        #af6e4d !default;
$brownTan:          #d2b48c !default;
$brownTaupe:        #483c32 !default;
$brownTawny:        #cd5700 !default;
$brownUmber:        #635147 !default;
$brownWalnut:       #5c5248 !default;
$brownWenge:        #645452 !default;
$brownWheat:        #f5deb3 !default;

// * * * Premium * * *
// -------------------------

// Dulux 8

$brownCaramel:      #ac9d8e !default;
$brownPraline:      #9f8e82 !default;
$brownTruffle:      #8e796b !default;
$brownExotic:       #8e766c !default;
$brownBitter:       #82695f !default;
$brownCocoa:        #7e6660 !default;
$brownMocha:        #7f6968 !default;
$brownClay:         #d7c3b8 !default;
