// Cyan
// -------------------------

$cyan:                  #0ff !default;
$cyanAliceBlue:         #f0f8ff !default;
$cyanAquamarine:        #00ffbf !default;
$cyanAzureWhite:        #f0ffff !default;
$cyanBlueGreen:         #0d98ba !default;
$cyanCapri:             #00bfff !default;
$cyanCaribbeanCurrent:  #006d6f !default;
$cyanCeleste:           #b2ffff !default;
$cyanCerulean:          #007ba7 !default;
$cyanDark:              #008b8b !default;
$cyanElectricBlue:      #7df9ff !default;
$cyanFluorescentBlue:   #15f4ee !default;
$cyanIceBlue:           #9ff !default;
$cyanJungleGreen:       #29ab87 !default;
$cyanLight:             #e0ffff !default;
$cyanMint:              #3eb489 !default;
$cyanMintMagic:         #aaf0d1 !default;
$cyanPacificBlue:       #1ca9c9 !default;
$cyanPersianGreen:      #00a693 !default;
$cyanPineGreen:         #01796f !default;
$cyanPowderBlue:        #b0e0e6 !default;
$cyanRobinEggBlue:      #0cc !default;
$cyanSeaGreen:          #2e8b57 !default;
$cyanSeaGreenLight:     #20b2aa !default;
$cyanSkobeloff:         #007a74 !default;
$cyanSkyBlue:           #87ceeb !default;
$cyanSkyBlueVivid:      #0cf !default;
$cyanSpringGreen:       #00ff7f !default;
$cyanTeal:              #008080 !default;
$cyanTiffanyBlue:       #81d8d0 !default;
$cyanTurquoise:         #40e0d0 !default;
$cyanTurquoiseBlue:     #00ffef !default;
$cyanTurquoiseMedium:   #48d1cc !default;
$cyanVerdigris:         #43b3ae !default;
