// Gray 10
// -------------------------

$grayAsh:           #b2beb5 !default;
$grayBattleship:    #848482 !default;
$grayBlue:          #69c !default;
$grayCadet:         #91a3b0 !default;
$grayCharcoal:      #36454f !default;
$grayCinerous:      #98817b !default;
$grayCool:          #8c92ac !default;
$grayDavys:         #555 !default;
$grayDim:           #696969 !default;
$grayEigengrau:     #16161d !default;
$grayFeldgrau:      #4d5d53 !default;
$grayGunmetal:      #423732 !default;
$grayGunmetal2:     #536267 !default;
$grayJet:           #343434 !default;
$grayMarengo:       #4c5866 !default;
$grayMedium:        #808080 !default;
$grayNickel:        #727472 !default;
$grayPaynes:        #536878 !default;
$grayPlatinum:      #e5e4e2 !default;
$grayRoseQuartz:    #aa98a9 !default;
$graySilver:        #c0c0c0 !default;
$graySlate:         #708090 !default;
$grayTaupe:         #8b8589 !default;
$grayTaupeDark:     #483c32 !default;
$grayTaupeMedium:   #674c47 !default;
$grayTaupePurple:   #50404d !default;
$grayTimberwolf:    #dbd7d2 !default;
